
<div class="popup popup-git">
  <div class="popup__header">
    <h2>Форма заказа <i>на&nbsp;получение подарка</i>
    </h2>
  </div>
  <div class="popup__content">
    <form action="" method="post" class="main-form gift-form">
      <label class="label-input"><span>Имя получателя(ФИО) :</span>
        <input type="text" name="" class="inp required"/>
      </label>
      <label class="label-input"><span>Страна \ Регион :</span>
        <select name="" class="js--select-styled js--country">
          <option value="" selected="selected">Российская Федерация, Москвовская область</option>
          <option value="">Российская Федерация, Москвовская область</option>
        </select>
      </label>
      <label class="label-input"><span>Город :</span>
        <select name="" class="js--select-styled js--town">
          <option value="" selected="selected">г. Москва</option>
          <option value="">г. Москва</option>
        </select>
      </label>
      <label class="label-input"><span>Адрес доставки :</span>
        <input type="text" name="" class="inp required"/><span class="label-input-notification">Укажите адрес в&nbsp;формате: Ул. Дом.(строение\буква),Номер квартиры</span>
      </label>
      <label class="label-input label-index"><span>Почтовый индекс :</span>
        <div class="label-index__right">
          <input type="text" name="" class="inp inp-index"/>
          <label class="label-checkbox">
            <input type="checkbox" name=""/>
            <div class="psevdocheckbox"></div><span>В&nbsp;моём адресе нет почтового индекса</span>
          </label>
        </div>
      </label>
      <label class="label-input"><span>Контактный номер телефона :</span>
        <input type="text" name="" class="inp required inp-phone"/>
      </label>
    </form>
  </div>
  <div class="popup__middle">
    <div class="popup__price"><span class="popup__price-title">Цена подарка</span>
      <div class="popup__price-list">
        <div class="popup__price-item">
          <picture class="popup__price-img"><img srcset="../img/blocks/shop/icon--coins-gold.png" alt="alt" /="/"/></picture><span class="popup__price-coins">PFP <i>GOLD</i> <i>COINS</i></span><span class="popup__price-value">40 000</span>
        </div>
        <div class="popup__price-item">
          <picture class="popup__price-img"><img srcset="../img/blocks/shop/icon--coins-silver.png" alt="alt" /="/"/></picture><span class="popup__price-coins">PFP <i>silver</i> <i>COINS</i></span><span class="popup__price-value">400 000</span>
        </div>
        <div class="popup__price-item">
          <picture class="popup__price-img"><img srcset="../img/blocks/shop/icon--coins-bronze.png" alt="alt" /="/"/></picture><span class="popup__price-coins">PFP <i>bronze</i> <i>COINS</i></span><span class="popup__price-value">1 040 000</span>
        </div>
      </div>
    </div>
  </div>
  <div class="popup__bottom">
    <div class="popup-actions"><a href="" class="btn btn--big js--form-submit">Купить подарок</a></div>
  </div>
  <script type="text/javascript">$(function(){$('.js--select-styled').styler({});});</script>
</div>