
<div class="popup popup-form">
  <div class="popup__header">
    <h2>Регистрация</h2>
  </div>
  <div class="popup__content">
    <div class="popup__form">
      <form action="" method="post" class="main-form">
        <label class="label-input"><span>Введите Ваш E-mail :</span>
          <input type="email" name="" class="inp inp-mail required"/>
        </label>
        <label class="label-input"><span>Никнейм:</span>
          <input type="text" name="" class="inp inp-mail required"/>
        </label>
        <label class="label-input"><span>Пароль</span>
          <input type="password" name="" class="inp inp-password required"/>
        </label>
        <label class="label-input"><span>Повтор пароля</span>
          <input type="password" name="" class="inp inp-password-double required"/>
        </label>
        <label class="label-input"><span>Введите число с картинки</span>
          <div class="capcha"></div>
        </label>
        <label class="label-checkbox">
          <input type="checkbox" name=""/>
          <div class="psevdocheckbox"></div><span>Согласен с <a href=""> условиями сервиса</a></span>
        </label>
        <button type="submit" class="btn btn--form js--form-submit">Зарегистрироваться</button>
        <div class="main-form__social"><span class="main-form__social-title">или войдите через социальные сети</span>
          <ul class="social-buttons">
            <li class="social-buttons__item"><a href="" class="social-buttons__link icon-vk">
                <svg width="30" height="30">
                  <use xlink:href="../img/sprite.svg#vk"></use>
                </svg></a></li>
            <li class="social-buttons__item"><a href="" class="social-buttons__link icon-fb">
                <svg width="26" height="26">
                  <use xlink:href="../img/sprite.svg#fb"></use>
                </svg></a></li>
            <li class="social-buttons__item"><a href="" class="social-buttons__link icon-tw">
                <svg width="30" height="47">
                  <use xlink:href="../img/sprite.svg#tw"></use>
                </svg></a></li>
            <li class="social-buttons__item"><a href="" class="social-buttons__link icon-od">
                <svg width="30" height="30">
                  <use xlink:href="../img/sprite.svg#od"></use>
                </svg></a></li>
          </ul>
        </div>
      </form>
    </div>
    <div class="popup__bottom"><span>у&nbsp;меня уже есть аккаунт, <i>я&nbsp;хочу <a title="Вход" data-fancybox="login-popup" data-type="ajax" data-src="../popup/popup-login.html" href="javascript:;">авторизоваться</a></i></span></div>
  </div>
</div>