
<div class="popup popup-form">
  <div class="popup__header">
    <h2>Авторизация</h2>
  </div>
  <div class="popup__content">
    <div class="popup__form">
      <form action="" method="post" class="main-form">
        <label class="label-input"><span>Введите Ваш E-mail :</span>
          <input type="email" name="" class="inp inp-mail required"/>
        </label>
        <label class="label-input"><span>Пароль</span>
          <input type="password" name="" class="inp inp-mail required"/>
        </label>
        <div class="justifyed">
          <div class="one-half">
            <label class="label-checkbox">
              <input type="checkbox" name=""/>
              <div class="psevdocheckbox"></div><span>Запомнить меня</span>
            </label>
          </div>
          <div class="one-half"><a href="" class="main-form--link">Забыли пароль?</a></div>
        </div>
        <button type="submit" class="btn btn--form js--form-submit">Войти</button>
        <div class="main-form__social"><span class="main-form__social-title">или войдите через социальные сети</span>
          <ul class="social-buttons">
            <li class="social-buttons__item"><a href="" class="social-buttons__link icon-vk">
                <svg width="30" height="30">
                  <use xlink:href="../img/sprite.svg#vk"></use>
                </svg></a></li>
            <li class="social-buttons__item"><a href="" class="social-buttons__link icon-fb">
                <svg width="26" height="26">
                  <use xlink:href="../img/sprite.svg#fb"></use>
                </svg></a></li>
            <li class="social-buttons__item"><a href="" class="social-buttons__link icon-tw">
                <svg width="30" height="47">
                  <use xlink:href="../img/sprite.svg#tw"></use>
                </svg></a></li>
            <li class="social-buttons__item"><a href="" class="social-buttons__link icon-od">
                <svg width="30" height="30">
                  <use xlink:href="../img/sprite.svg#od"></use>
                </svg></a></li>
          </ul>
        </div>
      </form>
    </div>
    <div class="popup__bottom"><span>у&nbsp;меня уже нет аккаунт, <i>я&nbsp;хочу <a title="Регистрация" data-fancybox="registration" data-type="ajax" data-src="../popup/popup-registration.html" href="javascript:;">зарегистрироваться</a></i></span></div>
  </div>
</div>